[submodule "modules/cookies"]
	path = modules/cookies
	url = https://github.com/Webmunk-Project/Extension-Cookie-Module.git
[submodule "modules/quick_survey"]
	path = modules/quick_survey
	url = https://github.com/Webmunk-Project/Quick-Survey-Module
[submodule "modules/screenshot"]
	path = modules/screenshot
	url = https://github.com/Webmunk-Project/Screenshot-Module.git
[submodule "modules/amazon"]
	path = modules/amazon
	url = https://github.com/Webmunk-Project/Webmunk-Amazon-Module.git
[submodule "modules/amazon_fetch"]
	path = modules/amazon-fetch
	url = https://github.com/Webmunk-Project/Webmuk-Amazon-Fetch-Module.git
