[submodule "extensions/cookies"]
	path = modules/cookies
	url = https://github.com/audacious-software/Extension-Cookie-Extension.git
[submodule "extensions/quick_survey"]
	path = modules/quick_survey
	url = https://github.com/audacious-software/Quick-Survey-Extension
